@use "../abstracts/mixins";
@use "../abstracts/variables";
.loading-button {
    background-color: variables.$secondary_color;
    &:hover {
        background-color: variables.$secondary_color;
        transform: translateY(-2px);
    }
}
.link-item {
    text-decoration: none;
    color: variables.$secondary_color;
    &:hover {
        text-decoration: underline;
    }
}
.auth-main {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-25%);
    h1 {
        font-size: variables.$font_size_big;
        font-weight: 600;
        margin-bottom: 10px;
    }
}
.auth-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth-form {
    width: auto;
    background-color: variables.$block_color;
    padding: 1rem;
    border-radius: 16px;
}
