@use "../abstracts/mixins";
@use "../abstracts/variables";
.loading-button {
    &:hover {
        transform: translateY(-2px);
    }
    @include mixins.themify(variables.$themes) {
        background-color: mixins.themed("colorSecondary");
        color: mixins.themed("colorOnSecondary");
    }
}
.link-item {
    @include mixins.themify(variables.$themes) {
        color: mixins.themed("colorOnPrimary");
    }
    a {
        text-decoration: none;
        @include mixins.themify(variables.$themes) {
            color: mixins.themed("colorSecondary");
        }
        &:hover {
            text-decoration: underline;
        }
    }
}
.auth-main {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
        font-weight: 600;
        margin-bottom: 10px;
    }
}
.auth-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth-form {
    width: auto;
    @include mixins.themify(variables.$themes) {
        background-color: mixins.themed("colorPrimary");
    }
    padding: 1rem;
    border-radius: 16px;
}
