@use "../base.scss";
@use "../abstracts/mixins";
@use "../abstracts/variables";
.main_layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav section aside";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 0.5fr minmax(40%, 600px) 0.5fr;
  position: relative;
  height: 100vh;
  @include mixins.respond-to(small) {
    grid-template-columns: 0.5fr minmax(40%, 900px) 0.5fr;
  }
}

footer {
  @include mixins.themify(variables.$themes) {
    background: mixins.themed("colorPrimary");
  }
  grid-area: footer;
}

header {
  grid-area: header;
  @include mixins.themify(variables.$themes) {
    background: mixins.themed("colorPrimary");
  }
}
nav {
  @include mixins.themify(variables.$themes) {
    background: mixins.themed("colorBackground");
  }
  grid-area: nav;
}
aside {
  @include mixins.themify(variables.$themes) {
    background: mixins.themed("colorBackground");
  }
  grid-area: aside;
}
section {
  grid-area: section;
  @include mixins.themify(variables.$themes) {
    background: mixins.themed("colorBackground");
  }
  padding-bottom: 1rem;
  @include mixins.respond-to(small) {
    padding-top: 1rem;
  }
}
