///------COLORS------
$main_color: #fafaff;
$block_color: #e4d9ff;
$secondary_color: #1e2749;
///------FONT SIZE------
$font_size_big: 20px;
$font_size_middle: 16px;
$font_size_small: 12px;

///-----SETTINGS-----
$border_radius: 10px;
$gap: 0.5rem;
$breakpoints: (
    "small": (
        min-width: 600px,
    ),
    "medium": (
        min-width: 990px,
    ),
    "large": (
        min-width: 1200px,
    ),
    "extra-large": (
        min-width: 1600px,
    ),
) !default;
