@use "../abstracts/mixins";
@use "../abstracts/variables";

.MuiMenu-paper {
  width: 100px;
  padding: 8px;

  .MuiList-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    .MuiMenuItem-root {
      display: table-cell;
      text-align: center;
      &:hover {
        color: green;
        background-color: inherit;
      }
    }
  }

  .MuiAvatar-root {
    width: 64px;
    height: 64px;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid green;
    }
  }
  @include mixins.respond-to(small) {
    width: 150px;
    padding: 16px;
  }
}
