@use "../abstracts/mixins";
@use "../abstracts/variables";

.MuiMenu-paper {
  width:200px;


  ul {
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    li {
      width: 100%;
      display: table-cell; 
      text-align: center; 
      vertical-align: middle;
    }
  }
  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  li:not(:first-child) {
    margin-top: 0.5rem;
  }

  .MuiAvatar-root {
    width: 64px;
    height: 64px;

  }
}
